<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="post" action="{% url 'django.contrib.messages.views.message' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}">
  <input type="text" name="message" placeholder="Mesajınızı buraya yazın...">
  <button type="submit">Gönder</button>
</form>

</body>
</html>